<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taewoo's Airbnb</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/1cc3f9ea86.js"></script>
</head>
<body>
    <header class="airbnb">
        {{>nav}}
    
    </header>
 
    
    {{{body}}}
 
    <footer class="logo">
       <a href="https://www.facebook.com/airbnb/?brand_redir=625947120749268">
       <i class="fab fa-facebook"></i>
       </a>
       <a href="https://twitter.com/airbnb">
       <i class="fab fa-twitter"></i>
       </a>
    </footer>
</body>
</html>