 <div class="login">
    {{#each login}}

        <div class="errorsLogin">
        {{this}}
        </div>
    {{/each}}
    <form method="POST" action="/user/login">
        <div><h2>Login to Airbnb</h2></div>
        <div>Username</div>
        <div class="prompt"><input class="input" type="text" name="username" placeholder="Enter your Username" style="width:380px; height:30px;"></div><br>
        <div>Password</div>
        <div class="prompt"><input class="input" type="password" name="password" placeholder="Enter your Password" style="width:380px; height:30px"></div><br>
        <div><button type="submit" class="loginbutton"><span>Login</span></button></div>
    </form>
</div>
