<h2 class="room">Check our room listing</h2>
<div class="imgcontainer">
    <div class="img"><img src="/img/house1.jpg" class="roomimage">
    <figcaption>Entire Home | 2 beds<br>Chiado Loft 7 with Patio!</figcaption>
    <figcaption class="small">$130 CAD/night</figcaption>
    </div>

    <div class="img"><img src="/img/house2.jpg" class="roomimage">
    <figcaption>Entire Home| 2 beds<br>Chiado Loft 12 Amazing Duplex with Terrace</figcaption>
    <figcaption class="small">$123 CAD/night</figcaption>
    </div>
    <div class="img"><img src="/img/house3.jpg" class="roomimage">
    <figcaption>Entire Home | 2beds<br>Lisbon Sky View Loft - FREE WIFI</figcaption>
    <figcaption class="small">$85 CAD/night</figcaption>
    </div>

    <div class="img"><img src="/img/house4.jpg" class="roomimage">
    <figcaption>Entire Guesthouse | 2beds<br>Cozy, Private Studio Flat 21 min to downtown by GO</figcaption>
    <figcaption class="small">$70 CAD/night</figcaption>
    </div>

    <div class="img"><img src="/img/house5.jpg" class="roomimage">
   <figcaption>Entire Condominium | 2beds<br>City View Studio 3 mins to University and Subway</figcaption>
    <figcaption class="small">$99 CAD/night</figcaption>
   </div>

    <div class="img"><img src="/img/house6.jpg" width="350" height="200">
    <figcaption>Entire Condominium | 2beds<br>Luxurious Condo near CN Tower with FREE PARKING</figcaption>
    <figcaption class="small">$140 CAD/night</figcaption>
    </div>
</div>